@import "./buttons-paddings.scss";
@import "./variables-nums.scss";

.main-index {
  text-transform: uppercase;
  margin-top: 34px;
  font-size: 12px;

  @media (min-width: $tablet-width) {
    margin-top: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 59px;
  }
}

.main-advantages {
  display: flex;
  flex-direction: column;
}

.main-description__title,
.main-form-hostel__title {
  color: #000000;
  font-size: 18px;
  line-height: 26px;
  text-align: center;

  @include null-margin-padding;
}

.main-description__title {
  padding-bottom: 36px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    padding-bottom: 28px;
  }
}

.main-form-hostel__button {
  @include blue-button;

  width: 284px;
  display: block;
  justify-content: center;
  padding: 16px 0;
  margin: 0 auto;
  font-size: 19px;
}

.main-description {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding: 0 110px;
    margin-bottom: 28px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 310px;
    margin-bottom: 19px;
  }
}


.all-descriptions {
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    padding-bottom: 24px;
  }
}

.main-description__caption,
.main-form-hostel__description {
  @include null-margin-padding;
  text-align: center;
}

.main-description__caption {
  display: block;
  width: 250px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    width: 520px;
    padding-bottom: 27px;
  }
}

.main-form-hostel__description {
  margin: 0 auto;
  padding-bottom: 33px;


  @media (min-width: $tablet-width) {
    margin: 0 auto;
    width: 442px;
    padding-bottom: 40px;
  }
}

.main-form-hostel {
  padding: 0 18px;
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {
    padding-bottom: 10px;
  }
}

.main-form-hostel__title {
  padding-bottom: 19px;
  @media (min-width: $tablet-width) {
    padding-bottom: 31px;
    font-size: 30px;
  }
}

.quality-card__description {
  @include null-margin-padding;
}

@media (max-width: $mobile-width-only) {
  .map {
    width: 320px;
    height: 350px;
  }

  .main-form-hostel__title {
    font-size: 21px;
  }
}

@media (min-width: $tablet-width) {
  .main-advantages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .main-advantages__photo {
    &--right {
      grid-column: 2 / -1;
    }

    &--left {
      grid-column: 1 / 3;
    }
  }

  .map {
    width: $tablet-width;
    height: 350px;
  }

  .main-form-hostel {
    margin: 0 auto 49px auto;
  }

  .main-form-hostel__button {
    padding: 16px 0;
    width: 458px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    width: $desktop-width;
  }
}
